@import "/src/style/main.scss";

.projects {
  display: block;

  @include onTablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.project {
  height: 300px;
  min-width: 270px;
  margin: 8px;

  @include onTablet {
    margin: 0;
    position: relative;
    height: 300px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
  }

  @include onDesktop {
    width: 500px;
  }

  &__apple {
    flex: 1;
    border-radius: 20px;
    background-color: #FCDBC1;

    background-position: center right;
    background-repeat: no-repeat;
    object-fit: contain;
    background-image: url(../../img/projects/phone.png);

    @include onTablet {
      margin: 8px;
      min-width: 350px;
    }

    @include onDesktop {
      margin: 16px;
      min-width: 400px;
    }

    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px;

      @include onDesktop {
        margin: 0;
      }
    }

    &--name {
      margin: 0;
      color: #313237;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      margin: 8px;

      @include onTablet {
        margin: 0;
      }
    }

    &--about {
      display: none;

      @include onDesktop {
        display: block;
        position: absolute;
        bottom: 0;
        width: 300px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__2048 {
    flex: 1;
    position: relative;
    border-radius: 20px;
    background-color: #f2b179;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(../../img/projects/blocks.png);


    @include onTablet {
      margin: 8px 8px 8px 0;
      min-width: 350px;
    }

    @include onDesktop {
      margin: 16px 16px 16px 0;
      min-width: 400px;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px;

      @include onDesktop {
        margin: 0;
      }
    }

    &--name {
      margin: 0;
      color: #000;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      margin: 8px;

      @include onTablet {
        margin: 0;
      }
    }

    &--about {
      display: none;

      @include onDesktop {
        display: block;
        position: absolute;
        bottom: 0;
        width: 300px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__museum {
    flex: 1;
    border-radius: 20px;
    background-color: #3f5252;
    background-position: bottom right;
    background-repeat: no-repeat;
    object-fit: contain;
    background-image: url(../../img/projects/grilHeader.webp);

    @include onTablet {
      position: relative;
      margin: 8px;
      min-width: 350px;
    }

    @include onDesktop {
      margin: 0 16px 16px 16px;
      min-width: 400px;
    }

    &--wrapper {
      display: flex;
      justify-content: space-between;
      margin: 8px;

      @include onDesktop {
        margin: 0;
      }
    }

    &--name {
      margin: 0;
      color: #cd4d31;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;

      margin: 8px;

      @include onTablet {
        margin: 0;
        width: 300px;
      }

      @include onDesktop {
        width: auto;
      }
    }

    &--about {
      display: none;

      @include onDesktop {
        display: block;
        position: absolute;
        bottom: 0;
        width: 400px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__bike {
    flex: 1;
    position: relative;
    border-radius: 20px;
    background-color: #1d1d1d;
    background-image: url(../../img/projects/bike3.png);
    background-position: center right;
    background-repeat: no-repeat;
    object-fit: contain;

    @include onTablet {
      background-position: 180%;
      margin: 8px 8px 8px 0;
      min-width: 350px;
    }

    @include onDesktop {
      margin: 0 16px 16px 0;
      min-width: 400px;
    }

    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px;

      @include onDesktop {
        margin: 0;
      }
    }

    &--name {
      color: #fff;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;

      margin: 8px;

      @include onTablet {
        margin: 0;
      }
    }

    &--about {
      display: none;
      color: #fff;

      @include onDesktop {
        display: block;
        position: absolute;
        bottom: 0;
        width: 300px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__demo {
    height: 30px;
    width: 30px;

    &--link {
      height: 30px;
      width: 30px;

      background-image: url('../../img/projects/defaultLink.svg');
      transition: background-image 0.4s;

      &:hover {
        background-image: url('../../img/projects/linkActive.svg');
      }
    }
  }
}