@import "/src/style/main.scss";

.contact {
  margin: 8px;

  @include onTablet {
    display: flex;
    justify-content: space-between;
  }

  &__about {
    border-radius: 20px;
    background-color: #CCCCFF;
    padding: 8px;

    @include onTablet {
      box-sizing: border-box;
      margin-right: 10px;
      padding: 10px;
      max-height: 320px;
    }

    @include onDesktop {
      margin-right: 20px;
      padding: 20px;
    }

    &--h3 {
      padding: 0;
      margin: 0;
      font-size: 28px;
    }
  }

  &__myPhoto {
    display: none;

    @include onTablet {
      display: block;
      max-height: 320px;
      max-width: 337px;
      border-radius: 20px;
    }
  }

  &__links {
    @include onTablet {
      display: flex;
    }
  }

  &__link {
    margin: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    min-width: 140px;
    height: 55px;
    background: #fff;
    border-radius: 20px;

    @include onTablet {
      margin: 0 8px 0 0;
    }

    @include onDesktop {
      margin: 20px 16px 0 0;
    }

    &:hover {
      background-color: gray;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      margin: auto;
    }

    &--title {
      margin-left: 8px;
      color: #000;
    }
  }

  &__icon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;

    &--gitHub {
      background-image: url('../../img/Github_icon.svg');
    }

    &--linkedin {
      background-image: url('../../img/Linkedin_icon.svg');
    }

    &--telegram {
      background-image: url('../../img/Telegram_icon.svg');
    }
  }
}