@import "/src/style/main.scss";

.main {
  margin: 8px 16px;

  @include onDesktop {
    margin: 80px 220px;
  }
  border-radius: 20px;
  background: #fff;
}

body {
  background-color: #D4D4D4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 16px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;

    margin-right: 16px;

    &--name {
      color: #313030;
      font-weight: bold;
    }

    &--circle {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #CCCCFF;
    }
  }
}